# R files
.Rhistory
.Rapp.history
.RData
.Ruserdata
/*.Rcheck/
.Rproj.user/
.Renviron

# knitr and R markdown default cache directories
*_cache/
/cache/

# folders
RawSq/
##figures/
intermediate/

#large excel/csv versions of files
data/VarietySampling_Illumina_2023-07-13.xlsx
data/VarSamp_uniqueSeqs_blast.csv
data/VarSamp_curatedSeqs_RDPWarcup.csv

# knitted html files
*.html

*.xlsx